{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="left">
  Calculate distances ({{ ac_type.replace("_", " ").upper() }})
</h1>
<form method="POST" action="/">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-floating">
          <input
            class="form-control"
            id="weight"
            ,
            name="weight"
            ,
            placeholder="Enter pressure altitude"
            ,
            value="{{ weight }}"
          />
          <label for="press_alt" class="form-label">Weight (kg)</label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-floating">
          <input
            class="form-control"
            id="press_alt"
            ,
            name="press_alt"
            ,
            placeholder="Enter pressure altitude"
            ,
            value="{{ pa }}"
          />
          <label for="press_alt" class="form-label"
            >Pressure Altitude (ft)</label
          >
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-floating">
          <input
            class="form-control"
            id="oat"
            ,
            name="oat"
            ,
            placeholder="Enter
          outside air temperature"
            ,
            value="{{ oat }}"
          />
          <label for="oat" class="form-label"
            >Outside Air Temperature (° C)</label
          >
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Calculate</button>
      </div>
    </div>
  </div>
  <br />
  <div class="col-sm-12">
    <h4>
      At the pressure altitude <b>{{ pa }}</b> ft, the temperature
      <b>{{ oat }}</b>° C and the weight <b>{{ weight }}</b> kg, the distances
      are:
    </h4>
  </div>
  <br />
  <h2>Landing distance</h2>
  <h6>
    Landing distance over 50 ft: <b>{{ landing_dist }} m</b><br />
    Ground roll: <b>{{ ground_roll }} m</b>
  </h6>
  <br />
  <br />

  {% endblock %}
</form>
